rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    // Rule for profile pictures: Only the authenticated user can upload and read their profile picture
    match /profilePictures/{userId}/profile.jpg {
      allow read: if request.auth != null;
      allow write, delete: if 
      request.auth != null &&
      request.auth.uid == userId &&
      (request.resource == null || // For deletions
      request.resource.metadata.createdBy == userId); // For uploads
    }

    // Rule for team images: Authenticated users can upload and read team images
    match /teams/{teamId}/team.jpg {
      allow read: if request.auth != null;
      allow write: if request.auth != null && (
      // For uploads/updates
      (request.resource != null && request.resource.metadata.createdBy == request.auth.uid) ||
      // For deletions
      (resource != null && resource.metadata.createdBy == request.auth.uid)
      );
    }

    // Event images
    match /teams/{teamId}/events/{eventId}/event.jpg {
      allow read: if request.auth != null;
      allow write: if request.auth != null && (
      (request.resource != null && request.resource.metadata.createdBy == request.auth.uid) ||
      (resource != null && resource.metadata.createdBy == request.auth.uid)
      );
    }

  }
}
