@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap');

@import "tailwindcss";
@import "tailwindcss-animated";


@theme {
  --font-display: "Assistant", "sans-serif";

  --color-text: #505863;
  --color-highlight: #677dcd ; 
  --color-line: #6781df ;
  --color-reference: #ffb300;
  --color-great: #677dcd;
  --color-good: #4bbd5c;
  --color-average: #acc2b7;
  --color-bad: #ea7704;
  --color-veryBad: #d7191c;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

button {
  cursor: pointer;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}



