@import "tailwindcss";
@import "tailwindcss-animated";


@theme {
  --color-text: #505863;
  --color-highlight: #677dcd ; 
  --color-line: #6781df ;
  --color-reference: #ffb300;
  --color-great: #08306B;
  --color-good: #2166AC;
  --color-average: #4393C3;
  --color-bad: #92C5DE;
  --color-veryBad: #D9EAF6;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

button {
  cursor: pointer;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}



